openapi: 3.2.0
info:
  title: Open edX Third Party Auth API
  description: APIs for access to Open edX information
  contact:
    email: dl@kaznu.kz
  version: v1
servers:
- url: https://open.kaznu.kz/api
security:
- Basic: []
tags:
- name: Third Party Auth
paths:
  /third_party_auth/v0/providers/user_status:
    get:
      operationId: third_party_auth_v0_providers_user_status_list
      summary: GET /api/third_party_auth/v0/providers/user_status/
      description: '**GET Response Values**

        ```

        {

        "accepts_logins": true,

        "name": "Google",

        "disconnect_url": "/auth/disconnect/google-oauth2/?",

        "connect_url": "/auth/login/google-oauth2/?auth_entry=account_settings&next=%2Faccount%2Fsettings",

        "connected": false,

        "id": "oa2-google-oauth2"

        }

        ```'
      tags:
      - Third Party Auth
      responses:
        '200':
          description: ''
  /third_party_auth/v0/providers/{provider_id}/users:
    get:
      operationId: third_party_auth_v0_providers_users_list
      summary: Map between the third party auth account IDs (remote_id) and EdX username
      description: 'This API is intended to be a server-to-server endpoint. An on-campus middleware or system should consume this.


        **Use Case**


        Get a paginated list of mappings between edX users and remote user IDs for all users currently

        linked to the given backend.


        The list can be filtered by edx username or third party ids. The filter is limited by the max length of URL.

        It is suggested to query no more than 50 usernames or remote_ids in each request to stay within above

        limitation


        The page size can be changed by specifying `page_size` parameter in the request.


        **Example Requests**


        GET /api/third_party_auth/v0/providers/{provider_id}/users


        GET /api/third_party_auth/v0/providers/{provider_id}/users?username={username1},{username2}


        GET /api/third_party_auth/v0/providers/{provider_id}/users?username={username1}&usernames={username2}


        GET /api/third_party_auth/v0/providers/{provider_id}/users?remote_id={remote_id1},{remote_id2}


        GET /api/third_party_auth/v0/providers/{provider_id}/users?remote_id={remote_id1}&remote_id={remote_id2}


        GET /api/third_party_auth/v0/providers/{provider_id}/users?username={username1}&remote_id={remote_id1}


        **URL Parameters**


        * provider_id: The unique identifier of third_party_auth provider (e.g. "saml-ubc", "oa2-google", etc.

        This is not the same thing as the backend_name.). (Optional/future: We may also want to allow

        this to be an ''external domain'' like ''ssl:MIT'' so that this API can also search the legacy

        ExternalAuthMap table used by Standford/MIT)


        **Query Parameters**


        * remote_ids: Optional. List of comma separated remote (third party) user IDs to filter the result set.

        e.g. ?remote_ids=8721384623


        * usernames: Optional. List of comma separated edX usernames to filter the result set.

        e.g. ?usernames=bob123,jane456


        * page, page_size: Optional. Used for paging the result set, especially when getting

        an unfiltered list.


        **Response Values**


        If the request for information about the user is successful, an HTTP 200 "OK" response

        is returned.


        The HTTP 200 response has the following values:


        * count: The number of mappings for the backend.


        * next: The URI to the next page of the mappings.


        * previous: The URI to the previous page of the mappings.


        * num_pages: The number of pages listing the mappings.


        * results: A list of mappings returned. Each collection in the list

        contains these fields.


        * username: The edx username


        * remote_id: The Id from third party auth provider'
      tags:
      - Third Party Auth
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        in: query
        required: false
        description: Number of results to return per page.
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserMapping'
  /third_party_auth/v0/users/:
    get:
      operationId: third_party_auth_v0_users_list
      summary: Read provider information for a user
      description: Allows reading the list of providers for a specified user.
      tags:
      - Third Party Auth
      responses:
        '200':
          description: ''
  /third_party_auth/v0/users/{username}:
    get:
      operationId: third_party_auth_v0_users_read
      summary: Read provider information for a user
      description: Allows reading the list of providers for a specified user.
      tags:
      - Third Party Auth
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
components:
  schemas:
    UserMapping:
      type: object
      properties:
        username:
          title: Username
          type: string
          readOnly: true
        remote_id:
          title: Remote id
          type: string
          readOnly: true
  securitySchemes:
    Basic:
      type: http
      scheme: basic
