openapi: 3.2.0
info:
  title: Open edX Agreements API
  description: APIs for access to Open edX information
  contact:
    email: dl@kaznu.kz
  version: v1
servers:
- url: https://open.kaznu.kz/api
security:
- Basic: []
tags:
- name: Agreements
paths:
  /agreements/v1/integrity_signature/{course_id}:
    get:
      operationId: agreements_v1_integrity_signature_read
      summary: In order to check whether the user has signed the integrity agreement for a…
      description: 'Should return the following:

        username (str)

        course_id (str)

        created_at (str)


        If a username is not given, it should default to the requesting user (or masqueraded user).

        Only staff should be able to access this endpoint for other users.'
      tags:
      - Agreements
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
    post:
      operationId: agreements_v1_integrity_signature_create
      description: 'Create an integrity signature for the requesting user and course. If a signature

        already exists, returns the existing signature instead of creating a new one.


        /api/agreements/v1/integrity_signature/{course_id}


        Example response:

        {

        username: "janedoe",

        course_id: "org.2/course_2/Run_2",

        created_at: "2021-04-23T18:25:43.511Z"

        }'
      tags:
      - Agreements
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
      summary: Agreements v1 integrity signature create
      x-summary-source: derived
  /agreements/v1/lti_pii_signature/{course_id}:
    post:
      operationId: agreements_v1_lti_pii_signature_create
      description: 'Create an LTI PII signature for the requesting user and course. If a signature

        already exists, returns the existing signature instead of creating a new one.


        /api/agreements/v1/lti_pii_signature/{course_id}


        Example response:

        {

        username: "janedoe",

        course_id: "org.2/course_2/Run_2",

        created_at: "2021-04-23T18:25:43.511Z"

        }'
      tags:
      - Agreements
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
      summary: Agreements v1 lti pii signature create
      x-summary-source: derived
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
