openapi: 3.2.0
info:
  title: Open edX Course Home API
  description: APIs for access to Open edX information
  contact:
    email: dl@kaznu.kz
  version: v1
servers:
- url: https://open.kaznu.kz/api
security:
- Basic: []
tags:
- name: course_home
paths:
  /course_home/course_metadata/{course_key_string}:
    get:
      operationId: course_home_course_metadata_read
      summary: '**Use Cases**'
      description: 'Request Course metadata details for the Course Home MFE that every page needs.


        **Example Requests**


        GET api/course_home/v1/course_metadata/{course_key}


        **Response Values**


        Body consists of the following fields:


        course_id: (str) The Course''s id (Course Run key)

        username: (str) The requesting (or masqueraded) user. Returns None for an

        unauthenticated user.

        is_enrolled: (bool) Indicates if the user is enrolled in the course

        is_self_paced: (bool) Indicates if the course is self paced

        is_staff: (bool) Indicates if the user is staff

        original_user_is_staff: (bool) Indicates if the original user has staff access

        Used for when masquerading to distinguish between the original requesting user

        and the user being masqueraded as.

        number: (str) The Course''s number

        org: (str) The Course''s organization

        tabs: List of Course Tabs to display. They are serialized as:

        tab_id: (str) The tab''s id

        title: (str) The title of the tab to display

        url: (str) The url to view the tab

        title: (str) The Course''s display title

        celebrations: (dict) a dict of celebration data

        user_timezone: (str) The timezone of the given user

        can_view_certificate: Flag to determine whether or not the learner can view their course certificate.


        **Returns**


        * 200 on success with above fields.

        * 404 if the course is not available or cannot be seen.'
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseHomeMetadata'
  /course_home/dates/{course_key_string}:
    get:
      operationId: course_home_dates_read
      summary: '**Use Cases**'
      description: 'Request details for the Dates Tab


        **Example Requests**


        GET api/course_home/v1/dates/{course_key}


        **Response Values**


        Body consists of the following fields:


        course_date_blocks: List of serialized DateSummary objects. Each serialization has the following fields:

        complete: (bool) Meant to only be used by assignments. Indicates completeness for an

        assignment.

        date: (datetime) The date time corresponding for the event

        date_type: (str) The type of date (ex. course-start-date, assignment-due-date, etc.)

        description: (str) The description for the date event

        learner_has_access: (bool) Indicates if the learner has access to the date event

        link: (str) An absolute link to content related to the date event

        (ex. verified link or link to assignment)

        title: (str) The title of the date event

        dates_banner_info: (obj)

        content_type_gating_enabled: (bool) Whether content type gating is enabled for this enrollment.

        missed_deadlines: (bool) Indicates whether the user missed any graded content deadlines

        missed_gated_content: (bool) Indicates whether the user missed gated content

        verified_upgrade_link: (str) The link for upgrading to the Verified track in a course

        has_ended: (bool) Indicates whether course has ended

        learner_is_full_access: (bool) Indicates if the user is verified in the course

        user_timezone: (str) The user''s preferred timezone


        **Returns**


        * 200 on success with above fields.

        * 401 if the user is not authenticated.

        * 403 if the user does not have access to the course.

        * 404 if the course is not available or cannot be seen.'
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatesTab'
  /course_home/dismiss_welcome_message:
    post:
      operationId: course_home_dismiss_welcome_message_create
      description: ''
      tags:
      - course_home
      responses:
        '201':
          description: ''
      summary: Course home dismiss welcome message create
      x-summary-source: derived
  /course_home/navigation/{course_key_string}:
    get:
      operationId: course_home_navigation_read
      description: Get the visible course blocks (from course to vertical types) for the given course.
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseBlock'
      summary: Course home navigation read
      x-summary-source: derived
  /course_home/outline/{course_key_string}:
    get:
      operationId: course_home_outline_read
      summary: '**Use Cases**'
      description: 'Request details for the Outline Tab


        **Example Requests**


        GET api/course_home/v1/outline/{course_key}


        **Response Values**


        Body consists of two possible shapes.'
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutlineTab'
  /course_home/progress/{course_key_string}:
    get:
      operationId: course_home_progress_read
      summary: '**Use Cases**'
      description: 'Request details for the Progress Tab


        **Example Requests**


        GET api/course_home/v1/progress/{course_key}

        GET api/course_home/v1/progress/{course_key}/{student_id}/


        **Response Values**


        Body consists of the following fields:


        access_expiration: An object detailing when access to this course will expire

        expiration_date: (str) When the access expires, in ISO 8601 notation

        masquerading_expired_course: (bool) Whether this course is expired for the masqueraded user

        upgrade_deadline: (str) Last chance to upgrade, in ISO 8601 notation (or None if can''t upgrade anymore)

        upgrade_url: (str) Upgrade link (or None if can''t upgrade anymore)

        certificate_data: Object containing information about the user''s certificate status

        cert_status: (str) the status of a user''s certificate (full list of statuses are defined in

        lms/djangoapps/certificates/models.py)

        cert_web_view_url: (str) the url to view the certificate

        download_url: (str) the url to download the certificate

        completion_summary: Object containing unit completion counts with the following fields:

        complete_count: (float) number of complete units

        incomplete_count: (float) number of incomplete units

        locked_count: (float) number of units where contains_gated_content is True

        course_grade: Object containing the following fields:

        is_passing: (bool) whether the user''s grade is above the passing grade cutoff

        letter_grade: (str) the user''s letter grade based on the set grade range.'
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressTab'
  /course_home/progress/{course_key_string}/{student_id}:
    get:
      operationId: course_home_progress_read
      summary: '**Use Cases**'
      description: 'Request details for the Progress Tab


        **Example Requests**


        GET api/course_home/v1/progress/{course_key}

        GET api/course_home/v1/progress/{course_key}/{student_id}/


        **Response Values**


        Body consists of the following fields:


        access_expiration: An object detailing when access to this course will expire

        expiration_date: (str) When the access expires, in ISO 8601 notation

        masquerading_expired_course: (bool) Whether this course is expired for the masqueraded user

        upgrade_deadline: (str) Last chance to upgrade, in ISO 8601 notation (or None if can''t upgrade anymore)

        upgrade_url: (str) Upgrade link (or None if can''t upgrade anymore)

        certificate_data: Object containing information about the user''s certificate status

        cert_status: (str) the status of a user''s certificate (full list of statuses are defined in

        lms/djangoapps/certificates/models.py)

        cert_web_view_url: (str) the url to view the certificate

        download_url: (str) the url to download the certificate

        completion_summary: Object containing unit completion counts with the following fields:

        complete_count: (float) number of complete units

        incomplete_count: (float) number of incomplete units

        locked_count: (float) number of units where contains_gated_content is True

        course_grade: Object containing the following fields:

        is_passing: (bool) whether the user''s grade is above the passing grade cutoff

        letter_grade: (str) the user''s letter grade based on the set grade range.'
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      - name: student_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressTab'
  /course_home/save_course_goal:
    post:
      operationId: course_home_save_course_goal_create
      description: ''
      tags:
      - course_home
      responses:
        '201':
          description: ''
      summary: Course home save course goal create
      x-summary-source: derived
  /course_home/unsubscribe_from_course_goal/{token}:
    post:
      operationId: course_home_unsubscribe_from_course_goal_create
      summary: API calls to unsubscribe from course goal reminders
      description: 'Note that this does not require authentication - this view may be hit from an email on a different device than

        normal or whatever. We should still be able to unsubscribe the user. Instead, we use a token in the email to

        validate that they have permission to unsubscribe.


        This endpoint is very tightly scoped (only unsubscribe: no subscribing, no PII) because it is unauthenticated.


        **Example Requests**

        POST api/course_home/v1/unsubscribe_from_course_goal/{token}


        **Example Response Data**

        {''course_title'': ''Cats & Dogs In Canadian Media''}


        Returns a 404 response if the token was not found. Otherwise, returns some basic course info. But no PII.'
      tags:
      - course_home
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
  /course_home/v1/course_metadata/{course_key_string}:
    get:
      operationId: course_home_v1_course_metadata_read
      summary: '**Use Cases**'
      description: 'Request Course metadata details for the Course Home MFE that every page needs.


        **Example Requests**


        GET api/course_home/v1/course_metadata/{course_key}


        **Response Values**


        Body consists of the following fields:


        course_id: (str) The Course''s id (Course Run key)

        username: (str) The requesting (or masqueraded) user. Returns None for an

        unauthenticated user.

        is_enrolled: (bool) Indicates if the user is enrolled in the course

        is_self_paced: (bool) Indicates if the course is self paced

        is_staff: (bool) Indicates if the user is staff

        original_user_is_staff: (bool) Indicates if the original user has staff access

        Used for when masquerading to distinguish between the original requesting user

        and the user being masqueraded as.

        number: (str) The Course''s number

        org: (str) The Course''s organization

        tabs: List of Course Tabs to display. They are serialized as:

        tab_id: (str) The tab''s id

        title: (str) The title of the tab to display

        url: (str) The url to view the tab

        title: (str) The Course''s display title

        celebrations: (dict) a dict of celebration data

        user_timezone: (str) The timezone of the given user

        can_view_certificate: Flag to determine whether or not the learner can view their course certificate.


        **Returns**


        * 200 on success with above fields.

        * 404 if the course is not available or cannot be seen.'
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseHomeMetadata'
  /course_home/v1/dates/{course_key_string}:
    get:
      operationId: course_home_v1_dates_read
      summary: '**Use Cases**'
      description: 'Request details for the Dates Tab


        **Example Requests**


        GET api/course_home/v1/dates/{course_key}


        **Response Values**


        Body consists of the following fields:


        course_date_blocks: List of serialized DateSummary objects. Each serialization has the following fields:

        complete: (bool) Meant to only be used by assignments. Indicates completeness for an

        assignment.

        date: (datetime) The date time corresponding for the event

        date_type: (str) The type of date (ex. course-start-date, assignment-due-date, etc.)

        description: (str) The description for the date event

        learner_has_access: (bool) Indicates if the learner has access to the date event

        link: (str) An absolute link to content related to the date event

        (ex. verified link or link to assignment)

        title: (str) The title of the date event

        dates_banner_info: (obj)

        content_type_gating_enabled: (bool) Whether content type gating is enabled for this enrollment.

        missed_deadlines: (bool) Indicates whether the user missed any graded content deadlines

        missed_gated_content: (bool) Indicates whether the user missed gated content

        verified_upgrade_link: (str) The link for upgrading to the Verified track in a course

        has_ended: (bool) Indicates whether course has ended

        learner_is_full_access: (bool) Indicates if the user is verified in the course

        user_timezone: (str) The user''s preferred timezone


        **Returns**


        * 200 on success with above fields.

        * 401 if the user is not authenticated.

        * 403 if the user does not have access to the course.

        * 404 if the course is not available or cannot be seen.'
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatesTab'
  /course_home/v1/dismiss_welcome_message:
    post:
      operationId: course_home_v1_dismiss_welcome_message_create
      description: ''
      tags:
      - course_home
      responses:
        '201':
          description: ''
      summary: Course home v1 dismiss welcome message create
      x-summary-source: derived
  /course_home/v1/navigation/{course_key_string}:
    get:
      operationId: course_home_v1_navigation_read
      description: Get the visible course blocks (from course to vertical types) for the given course.
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseBlock'
      summary: Course home v1 navigation read
      x-summary-source: derived
  /course_home/v1/outline/{course_key_string}:
    get:
      operationId: course_home_v1_outline_read
      summary: '**Use Cases**'
      description: 'Request details for the Outline Tab


        **Example Requests**


        GET api/course_home/v1/outline/{course_key}


        **Response Values**


        Body consists of two possible shapes.'
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutlineTab'
  /course_home/v1/progress/{course_key_string}:
    get:
      operationId: course_home_v1_progress_read
      summary: '**Use Cases**'
      description: 'Request details for the Progress Tab


        **Example Requests**


        GET api/course_home/v1/progress/{course_key}

        GET api/course_home/v1/progress/{course_key}/{student_id}/


        **Response Values**


        Body consists of the following fields:


        access_expiration: An object detailing when access to this course will expire

        expiration_date: (str) When the access expires, in ISO 8601 notation

        masquerading_expired_course: (bool) Whether this course is expired for the masqueraded user

        upgrade_deadline: (str) Last chance to upgrade, in ISO 8601 notation (or None if can''t upgrade anymore)

        upgrade_url: (str) Upgrade link (or None if can''t upgrade anymore)

        certificate_data: Object containing information about the user''s certificate status

        cert_status: (str) the status of a user''s certificate (full list of statuses are defined in

        lms/djangoapps/certificates/models.py)

        cert_web_view_url: (str) the url to view the certificate

        download_url: (str) the url to download the certificate

        completion_summary: Object containing unit completion counts with the following fields:

        complete_count: (float) number of complete units

        incomplete_count: (float) number of incomplete units

        locked_count: (float) number of units where contains_gated_content is True

        course_grade: Object containing the following fields:

        is_passing: (bool) whether the user''s grade is above the passing grade cutoff

        letter_grade: (str) the user''s letter grade based on the set grade range.'
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressTab'
  /course_home/v1/progress/{course_key_string}/{student_id}:
    get:
      operationId: course_home_v1_progress_read
      summary: '**Use Cases**'
      description: 'Request details for the Progress Tab


        **Example Requests**


        GET api/course_home/v1/progress/{course_key}

        GET api/course_home/v1/progress/{course_key}/{student_id}/


        **Response Values**


        Body consists of the following fields:


        access_expiration: An object detailing when access to this course will expire

        expiration_date: (str) When the access expires, in ISO 8601 notation

        masquerading_expired_course: (bool) Whether this course is expired for the masqueraded user

        upgrade_deadline: (str) Last chance to upgrade, in ISO 8601 notation (or None if can''t upgrade anymore)

        upgrade_url: (str) Upgrade link (or None if can''t upgrade anymore)

        certificate_data: Object containing information about the user''s certificate status

        cert_status: (str) the status of a user''s certificate (full list of statuses are defined in

        lms/djangoapps/certificates/models.py)

        cert_web_view_url: (str) the url to view the certificate

        download_url: (str) the url to download the certificate

        completion_summary: Object containing unit completion counts with the following fields:

        complete_count: (float) number of complete units

        incomplete_count: (float) number of incomplete units

        locked_count: (float) number of units where contains_gated_content is True

        course_grade: Object containing the following fields:

        is_passing: (bool) whether the user''s grade is above the passing grade cutoff

        letter_grade: (str) the user''s letter grade based on the set grade range.'
      tags:
      - course_home
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      - name: student_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressTab'
  /course_home/v1/save_course_goal:
    post:
      operationId: course_home_v1_save_course_goal_create
      description: ''
      tags:
      - course_home
      responses:
        '201':
          description: ''
      summary: Course home v1 save course goal create
      x-summary-source: derived
  /course_home/v1/unsubscribe_from_course_goal/{token}:
    post:
      operationId: course_home_v1_unsubscribe_from_course_goal_create
      summary: API calls to unsubscribe from course goal reminders
      description: 'Note that this does not require authentication - this view may be hit from an email on a different device than

        normal or whatever. We should still be able to unsubscribe the user. Instead, we use a token in the email to

        validate that they have permission to unsubscribe.


        This endpoint is very tightly scoped (only unsubscribe: no subscribing, no PII) because it is unauthenticated.


        **Example Requests**

        POST api/course_home/v1/unsubscribe_from_course_goal/{token}


        **Example Response Data**

        {''course_title'': ''Cats & Dogs In Canadian Media''}


        Returns a 404 response if the token was not found. Otherwise, returns some basic course info. But no PII.'
      tags:
      - course_home
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
components:
  schemas:
    CourseModeSerrializer:
      required:
      - slug
      - name
      type: object
      properties:
        slug:
          title: Slug
          type: string
          minLength: 1
        name:
          title: Name
          type: string
          minLength: 1
    SubsectionScores:
      required:
      - assignment_type
      - display_name
      - has_graded_assignment
      - num_points_earned
      - num_points_possible
      - percent_graded
      - show_correctness
      type: object
      properties:
        assignment_type:
          title: Assignment type
          type: string
          minLength: 1
        block_key:
          title: Block key
          type: string
          readOnly: true
        display_name:
          title: Display name
          type: string
          minLength: 1
        has_graded_assignment:
          title: Has graded assignment
          type: boolean
        override:
          title: Override
          type: string
          readOnly: true
        learner_has_access:
          title: Learner has access
          type: string
          readOnly: true
        num_points_earned:
          title: Num points earned
          type: number
        num_points_possible:
          title: Num points possible
          type: number
        percent_graded:
          title: Percent graded
          type: number
        problem_scores:
          title: Problem scores
          type: string
          readOnly: true
        show_correctness:
          title: Show correctness
          type: string
          minLength: 1
        show_grades:
          title: Show grades
          type: string
          readOnly: true
        url:
          title: Url
          type: string
          readOnly: true
    ProgressTab:
      required:
      - access_expiration
      - certificate_data
      - completion_summary
      - course_grade
      - credit_course_requirements
      - end
      - enrollment_mode
      - grading_policy
      - has_scheduled_content
      - section_scores
      - studio_url
      - username
      - user_has_passing_grade
      - verification_data
      - disable_progress_graph
      type: object
      properties:
        verified_mode:
          title: Verified mode
          type: string
          readOnly: true
        access_expiration:
          title: Access expiration
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        certificate_data:
          $ref: '#/components/schemas/CertificateData'
        completion_summary:
          title: Completion summary
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        course_grade:
          $ref: '#/components/schemas/CourseGrade'
        credit_course_requirements:
          title: Credit course requirements
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        end:
          title: End
          type: string
          format: date-time
        enrollment_mode:
          title: Enrollment mode
          type: string
          minLength: 1
        grading_policy:
          $ref: '#/components/schemas/GradingPolicy'
        has_scheduled_content:
          title: Has scheduled content
          type: boolean
        section_scores:
          type: array
          items:
            $ref: '#/components/schemas/SectionScores'
        studio_url:
          title: Studio url
          type: string
          minLength: 1
        username:
          title: Username
          type: string
          minLength: 1
        user_has_passing_grade:
          title: User has passing grade
          type: boolean
        verification_data:
          $ref: '#/components/schemas/VerificationData'
        disable_progress_graph:
          title: Disable progress graph
          type: boolean
    GradingPolicy:
      required:
      - grade_range
      type: object
      properties:
        assignment_policies:
          title: Assignment policies
          type: string
          readOnly: true
        grade_range:
          title: Grade range
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
    CourseTool:
      required:
      - analytics_id
      - title
      type: object
      properties:
        analytics_id:
          title: Analytics id
          type: string
          minLength: 1
        title:
          title: Title
          type: string
          minLength: 1
        url:
          title: Url
          type: string
          readOnly: true
    CertificateData:
      required:
      - cert_status
      - cert_web_view_url
      - download_url
      - certificate_available_date
      type: object
      properties:
        cert_status:
          title: Cert status
          type: string
          minLength: 1
        cert_web_view_url:
          title: Cert web view url
          type: string
          minLength: 1
        download_url:
          title: Download url
          type: string
          minLength: 1
        certificate_available_date:
          title: Certificate available date
          type: string
          format: date-time
    CourseTab:
      required:
      - tab_id
      type: object
      properties:
        tab_id:
          title: Tab id
          type: string
          minLength: 1
        title:
          title: Title
          type: string
          readOnly: true
        url:
          title: Url
          type: string
          readOnly: true
    DatesTab:
      required:
      - course_date_blocks
      - has_ended
      - learner_is_full_access
      - user_timezone
      type: object
      properties:
        dates_banner_info:
          title: Dates banner info
          type: string
          readOnly: true
        course_date_blocks:
          type: array
          items:
            $ref: '#/components/schemas/DateSummary'
        has_ended:
          title: Has ended
          type: boolean
        learner_is_full_access:
          title: Learner is full access
          type: boolean
        user_timezone:
          title: User timezone
          type: string
          minLength: 1
    CourseGoals:
      required:
      - selected_goal
      type: object
      properties:
        selected_goal:
          title: Selected goal
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        weekly_learning_goal_enabled:
          title: Weekly learning goal enabled
          type: boolean
          default: false
    ResumeCourse:
      required:
      - has_visited_course
      - url
      type: object
      properties:
        has_visited_course:
          title: Has visited course
          type: boolean
        url:
          title: Url
          type: string
          format: uri
          minLength: 1
    CourseGrade:
      required:
      - letter_grade
      - percent
      - is_passing
      type: object
      properties:
        letter_grade:
          title: Letter grade
          type: string
          minLength: 1
        percent:
          title: Percent
          type: number
        is_passing:
          title: Is passing
          type: boolean
    DatesWidget:
      required:
      - course_date_blocks
      - dates_tab_link
      - user_timezone
      type: object
      properties:
        course_date_blocks:
          type: array
          items:
            $ref: '#/components/schemas/DateSummary'
        dates_tab_link:
          title: Dates tab link
          type: string
          minLength: 1
        user_timezone:
          title: User timezone
          type: string
          minLength: 1
    DateSummary:
      required:
      - complete
      - date
      - date_type
      - description
      - link_text
      - title
      - extra_info
      type: object
      properties:
        assignment_type:
          title: Assignment type
          type: string
          minLength: 1
        complete:
          title: Complete
          type:
          - boolean
          - 'null'
        date:
          title: Date
          type: string
          format: date-time
        date_type:
          title: Date type
          type: string
          minLength: 1
        description:
          title: Description
          type: string
          minLength: 1
        learner_has_access:
          title: Learner has access
          type: string
          readOnly: true
        link:
          title: Link
          type: string
          readOnly: true
        link_text:
          title: Link text
          type: string
          minLength: 1
        title:
          title: Title
          type: string
          minLength: 1
        extra_info:
          title: Extra info
          type: string
          minLength: 1
        first_component_block_id:
          title: First component block id
          type: string
          readOnly: true
    EnrollAlert:
      required:
      - can_enroll
      - extra_text
      type: object
      properties:
        can_enroll:
          title: Can enroll
          type: boolean
        extra_text:
          title: Extra text
          type: string
          minLength: 1
    CourseBlock:
      type: object
      properties:
        blocks:
          title: Blocks
          type: string
          readOnly: true
    OutlineTab:
      required:
      - access_expiration
      - cert_data
      - course_blocks
      - course_goals
      - course_tools
      - dates_widget
      - enroll_alert
      - enrollment_mode
      - enable_proctored_exams
      - handouts_html
      - has_ended
      - offer
      - resume_course
      - welcome_message_html
      - user_has_passing_grade
      type: object
      properties:
        dates_banner_info:
          title: Dates banner info
          type: string
          readOnly: true
        verified_mode:
          title: Verified mode
          type: string
          readOnly: true
        access_expiration:
          title: Access expiration
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        cert_data:
          $ref: '#/components/schemas/CertificateData'
        course_blocks:
          $ref: '#/components/schemas/CourseBlock'
        course_goals:
          $ref: '#/components/schemas/CourseGoals'
        course_tools:
          type: array
          items:
            $ref: '#/components/schemas/CourseTool'
        dates_widget:
          $ref: '#/components/schemas/DatesWidget'
        enroll_alert:
          $ref: '#/components/schemas/EnrollAlert'
        enrollment_mode:
          title: Enrollment mode
          type: string
          minLength: 1
        enable_proctored_exams:
          title: Enable proctored exams
          type: boolean
        handouts_html:
          title: Handouts html
          type: string
          minLength: 1
        has_ended:
          title: Has ended
          type: boolean
        offer:
          title: Offer
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        resume_course:
          $ref: '#/components/schemas/ResumeCourse'
        welcome_message_html:
          title: Welcome message html
          type: string
          minLength: 1
        user_has_passing_grade:
          title: User has passing grade
          type: boolean
    VerificationData:
      required:
      - link
      - status
      - status_date
      type: object
      properties:
        link:
          title: Link
          type: string
          format: uri
          minLength: 1
        status:
          title: Status
          type: string
          minLength: 1
        status_date:
          title: Status date
          type: string
          format: date-time
    SectionScores:
      required:
      - display_name
      - subsections
      type: object
      properties:
        display_name:
          title: Display name
          type: string
          minLength: 1
        subsections:
          type: array
          items:
            $ref: '#/components/schemas/SubsectionScores'
    CourseHomeMetadata:
      required:
      - celebrations
      - course_access
      - studio_access
      - course_id
      - is_enrolled
      - is_self_paced
      - is_staff
      - number
      - org
      - original_user_is_staff
      - start
      - tabs
      - title
      - username
      - user_timezone
      - can_view_certificate
      - course_modes
      - is_new_discussion_sidebar_view_enabled
      - has_course_author_access
      type: object
      properties:
        verified_mode:
          title: Verified mode
          type: string
          readOnly: true
        celebrations:
          title: Celebrations
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        course_access:
          title: Course access
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        studio_access:
          title: Studio access
          type: boolean
        course_id:
          title: Course id
          type: string
          minLength: 1
        is_enrolled:
          title: Is enrolled
          type: boolean
        is_self_paced:
          title: Is self paced
          type: boolean
        is_staff:
          title: Is staff
          type: boolean
        number:
          title: Number
          type: string
          minLength: 1
        org:
          title: Org
          type: string
          minLength: 1
        original_user_is_staff:
          title: Original user is staff
          type: boolean
        start:
          title: Start
          type: string
          format: date-time
        tabs:
          type: array
          items:
            $ref: '#/components/schemas/CourseTab'
        title:
          title: Title
          type: string
          minLength: 1
        username:
          title: Username
          type: string
          minLength: 1
        user_timezone:
          title: User timezone
          type: string
          minLength: 1
        can_view_certificate:
          title: Can view certificate
          type: boolean
        course_modes:
          type: array
          items:
            $ref: '#/components/schemas/CourseModeSerrializer'
        is_new_discussion_sidebar_view_enabled:
          title: Is new discussion sidebar view enabled
          type: boolean
        has_course_author_access:
          title: Has course author access
          type: boolean
  securitySchemes:
    Basic:
      type: http
      scheme: basic
