openapi: 3.2.0
info:
  title: Open edX Ora Staff Grader API
  description: APIs for access to Open edX information
  contact:
    email: dl@kaznu.kz
  version: v1
servers:
- url: https://open.kaznu.kz/api
security:
- Basic: []
tags:
- name: ora_staff_grader
paths:
  /ora_staff_grader/assessments/feedback/from/:
    get:
      operationId: ora_staff_grader_assessments_feedback_get_from
      summary: View for fetching assessment feedback for a submission
      description: '**Methods**


        * (GET) `api/ora_staff_grader/assessments/feedback/from`

        List all assessments received by a user (according to

        their submissionUUID) in an ORA assignment.


        * (GET) `api/ora_staff_grader/assessments/feedback/to`

        List all assessments given by a user (according to

        their submissionUUID) in an ORA assignment.


        **Query Params**:


        * `oraLocation` (str): ORA location for XBlock handling

        * `submissionUUID` (str): The ORA submission UUID


        **Response**:


        {

        assessments (List[dict]): [

        {

        "assessment_id: (str) Assessment id

        "scorer_name: (str) Scorer name

        "scorer_username: (str) Scorer username

        "scorer_email: (str) Scorer email

        "assessment_date: (str) Assessment date

        "assessment_scores (List[dict]) [

        {

        "criterion_name: (str) Criterion name

        "score_earned: (int) Score earned

        "score_type: (str) Score type

        }

        ]

        "problem_step (str) Problem step (Self, Peer, or Staff)

        "feedback: (str) Feedback of the assessment

        }

        ]

        }


        **Errors**:


        * `MissingParamResponse` (HTTP 400) for missing params

        * `BadOraLocationResponse` (HTTP 400) for bad ORA location

        * `XBlockInternalError` (HTTP 500) for an issue with ORA

        * `UnknownError` (HTTP 500) for other errors'
      tags:
      - ora_staff_grader
      parameters:
      - name: page
        in: query
        required: false
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        in: query
        required: false
        description: Number of results to return per page.
        schema:
          type: integer
      responses:
        '200':
          description: ''
  /ora_staff_grader/assessments/feedback/to/:
    get:
      operationId: ora_staff_grader_assessments_feedback_get_to
      summary: View for fetching assessment feedback for a submission
      description: '**Methods**


        * (GET) `api/ora_staff_grader/assessments/feedback/from`

        List all assessments received by a user (according to

        their submissionUUID) in an ORA assignment.


        * (GET) `api/ora_staff_grader/assessments/feedback/to`

        List all assessments given by a user (according to

        their submissionUUID) in an ORA assignment.


        **Query Params**:


        * `oraLocation` (str): ORA location for XBlock handling

        * `submissionUUID` (str): The ORA submission UUID


        **Response**:


        {

        assessments (List[dict]): [

        {

        "assessment_id: (str) Assessment id

        "scorer_name: (str) Scorer name

        "scorer_username: (str) Scorer username

        "scorer_email: (str) Scorer email

        "assessment_date: (str) Assessment date

        "assessment_scores (List[dict]) [

        {

        "criterion_name: (str) Criterion name

        "score_earned: (int) Score earned

        "score_type: (str) Score type

        }

        ]

        "problem_step (str) Problem step (Self, Peer, or Staff)

        "feedback: (str) Feedback of the assessment

        }

        ]

        }


        **Errors**:


        * `MissingParamResponse` (HTTP 400) for missing params

        * `BadOraLocationResponse` (HTTP 400) for bad ORA location

        * `XBlockInternalError` (HTTP 500) for an issue with ORA

        * `UnknownError` (HTTP 500) for other errors'
      tags:
      - ora_staff_grader
      parameters:
      - name: page
        in: query
        required: false
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        in: query
        required: false
        description: Number of results to return per page.
        schema:
          type: integer
      responses:
        '200':
          description: ''
  /ora_staff_grader/assessments/feedback/{id}/:
    get:
      operationId: ora_staff_grader_assessments_feedback_read
      summary: View for fetching assessment feedback for a submission
      description: '**Methods**


        * (GET) `api/ora_staff_grader/assessments/feedback/from`

        List all assessments received by a user (according to

        their submissionUUID) in an ORA assignment.


        * (GET) `api/ora_staff_grader/assessments/feedback/to`

        List all assessments given by a user (according to

        their submissionUUID) in an ORA assignment.


        **Query Params**:


        * `oraLocation` (str): ORA location for XBlock handling

        * `submissionUUID` (str): The ORA submission UUID


        **Response**:


        {

        assessments (List[dict]): [

        {

        "assessment_id: (str) Assessment id

        "scorer_name: (str) Scorer name

        "scorer_username: (str) Scorer username

        "scorer_email: (str) Scorer email

        "assessment_date: (str) Assessment date

        "assessment_scores (List[dict]) [

        {

        "criterion_name: (str) Criterion name

        "score_earned: (int) Score earned

        "score_type: (str) Score type

        }

        ]

        "problem_step (str) Problem step (Self, Peer, or Staff)

        "feedback: (str) Feedback of the assessment

        }

        ]

        }


        **Errors**:


        * `MissingParamResponse` (HTTP 400) for missing params

        * `BadOraLocationResponse` (HTTP 400) for bad ORA location

        * `XBlockInternalError` (HTTP 500) for an issue with ORA

        * `UnknownError` (HTTP 500) for other errors'
      tags:
      - ora_staff_grader
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
  /ora_staff_grader/initialize:
    get:
      operationId: ora_staff_grader_initialize_read
      description: GET course metadata
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
      summary: Ora staff grader initialize read
      x-summary-source: derived
  /ora_staff_grader/mock/initialize:
    get:
      operationId: ora_staff_grader_mock_initialize_read
      description: Returns initial app state
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
      summary: Ora staff grader mock initialize read
      x-summary-source: derived
  /ora_staff_grader/mock/submission:
    get:
      operationId: ora_staff_grader_mock_submission_read
      description: Get a submission
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
      summary: Ora staff grader mock submission read
      x-summary-source: derived
  /ora_staff_grader/mock/submission/grade:
    get:
      operationId: ora_staff_grader_mock_submission_grade_read
      description: Submit a grade
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
      summary: Ora staff grader mock submission grade read
      x-summary-source: derived
    post:
      operationId: ora_staff_grader_mock_submission_grade_create
      description: Save a grade update to the data store
      tags:
      - ora_staff_grader
      responses:
        '201':
          description: ''
      summary: Ora staff grader mock submission grade create
      x-summary-source: derived
  /ora_staff_grader/mock/submission/lock:
    post:
      operationId: ora_staff_grader_mock_submission_lock_create
      description: Claim a submission lock, updating lock status
      tags:
      - ora_staff_grader
      responses:
        '201':
          description: ''
      summary: Ora staff grader mock submission lock create
      x-summary-source: derived
    delete:
      operationId: ora_staff_grader_mock_submission_lock_delete
      description: Delete a submission lock, updating lock status
      tags:
      - ora_staff_grader
      responses:
        '204':
          description: ''
      summary: Ora staff grader mock submission lock delete
      x-summary-source: derived
  /ora_staff_grader/mock/submission/status:
    get:
      operationId: ora_staff_grader_mock_submission_status_read
      description: Get a submission status, leaving out the response
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
      summary: Ora staff grader mock submission status read
      x-summary-source: derived
  /ora_staff_grader/submission:
    get:
      operationId: ora_staff_grader_submission_read
      description: GET submission contents and assessment info, if any
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
      summary: Ora staff grader submission read
      x-summary-source: derived
  /ora_staff_grader/submission/batch/unlock:
    get:
      operationId: ora_staff_grader_submission_batch_unlock_read
      description: POST delete a group of submission locks, limited to just those in the list that the user owns.
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
      summary: Ora staff grader submission batch unlock read
      x-summary-source: derived
    post:
      operationId: ora_staff_grader_submission_batch_unlock_create
      description: Batch delete submission locks
      tags:
      - ora_staff_grader
      responses:
        '201':
          description: ''
      summary: Ora staff grader submission batch unlock create
      x-summary-source: derived
  /ora_staff_grader/submission/files:
    get:
      operationId: ora_staff_grader_submission_files_read
      summary: GET file metadata for a submission
      description: 'Used to get updated file download links to avoid signed download link expiration

        issues.'
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
  /ora_staff_grader/submission/grade:
    get:
      operationId: ora_staff_grader_submission_grade_read
      description: POST submit a grade for a submission
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
      summary: Ora staff grader submission grade read
      x-summary-source: derived
    post:
      operationId: ora_staff_grader_submission_grade_create
      description: Update a grade
      tags:
      - ora_staff_grader
      responses:
        '201':
          description: ''
      summary: Ora staff grader submission grade create
      x-summary-source: derived
  /ora_staff_grader/submission/lock:
    get:
      operationId: ora_staff_grader_submission_lock_read
      description: 'POST claim a submission lock for grading

        DELETE release a submission lock'
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
      summary: Ora staff grader submission lock read
      x-summary-source: derived
    post:
      operationId: ora_staff_grader_submission_lock_create
      description: Claim a submission lock
      tags:
      - ora_staff_grader
      responses:
        '201':
          description: ''
      summary: Ora staff grader submission lock create
      x-summary-source: derived
    delete:
      operationId: ora_staff_grader_submission_lock_delete
      description: Clear a submission lock
      tags:
      - ora_staff_grader
      responses:
        '204':
          description: ''
      summary: Ora staff grader submission lock delete
      x-summary-source: derived
  /ora_staff_grader/submission/status:
    get:
      operationId: ora_staff_grader_submission_status_read
      description: GET submission grade status, lock status, and grade data
      tags:
      - ora_staff_grader
      responses:
        '200':
          description: ''
      summary: Ora staff grader submission status read
      x-summary-source: derived
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
