openapi: 3.2.0
info:
  title: Open edX Certificates API
  description: APIs for access to Open edX information
  contact:
    email: dl@kaznu.kz
  version: v1
servers:
- url: https://open.kaznu.kz/api
security:
- Basic: []
tags:
- name: Certificates
paths:
  /certificates/v0/certificates/{username}/:
    get:
      operationId: certificates_v0_certificates_read
      summary: Get a paginated list of certificates for a user
      description: '**Use Case**


        Get the list of viewable course certificates for a specific user.


        **Example Request**


        GET /api/certificates/v0/certificates/{username}


        **GET Response Values**


        If the request for information about the user''s certificates is successful,

        an HTTP 200 "OK" response is returned.


        The HTTP 200 response contains a list of dicts with the following keys/values.


        * username: A string representation of an user''s username passed in the request.


        * course_id: A string representation of a Course ID.


        * course_display_name: A string representation of the Course name.


        * course_organization: A string representation of the organization associated with the Course.


        * certificate_type: A string representation of the certificate type.

        Can be honor|verified|professional


        * created_date: Date/time the certificate was created, in ISO-8661 format.


        * status: A string representation of the certificate status.


        * is_passing: True if the certificate has a passing status, False if not.


        * download_url: A string representation of the certificate url.


        * grade: A string representation of a float for the user''s course grade.


        **Example GET Response**


        [{

        "username": "bob",

        "course_id": "edX/DemoX/Demo_Course",

        "certificate_type": "verified",

        "created_date": "2015-12-03T13:14:28+0000",

        "status": "downloadable",

        "is_passing": true,

        "download_url": "http://www.example.com/cert.pdf",

        "grade": "0.98"

        }]'
      tags:
      - Certificates
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: username
        in: path
        required: true
        description: The users to get certificates for
        schema:
          type: string
      responses:
        '200':
          description: ''
  /certificates/v0/certificates/{username}/courses/{course_id}/:
    get:
      operationId: certificates_v0_certificates_courses_read
      description: Retrieves certificate information for a user in a specified course run.
      tags:
      - Certificates
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: course_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Certificates v0 certificates courses read
      x-summary-source: derived
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
