openapi: 3.0.3
info:
  title: Open edX agreements certificates API
  description: APIs for access to Open edX information
  contact:
    email: dl@kaznu.kz
  version: v1
servers:
- url: https://open.kaznu.kz/api
security:
- Basic: []
tags:
- name: certificates
paths:
  /certificates/v0/certificates/{username}/:
    get:
      operationId: certificates_v0_certificates_read
      summary: Get a paginated list of certificates for a user.
      description: "**Use Case**\n\nGet the list of viewable course certificates for a specific user.\n\n**Example Request**\n\nGET /api/certificates/v0/certificates/{username}\n\n**GET Response Values**\n\n    If the request for information about the user's certificates is successful,\n    an HTTP 200 \"OK\" response is returned.\n\n    The HTTP 200 response contains a list of dicts with the following keys/values.\n\n    * username: A string representation of an user's username passed in the request.\n\n    * course_id: A string representation of a Course ID.\n\n    * course_display_name: A string representation of the Course name.\n\n    * course_organization: A string representation of the organization associated with the Course.\n\n    * certificate_type: A string representation of the certificate type.\n        Can be honor|verified|professional\n\n    * created_date: Date/time the certificate was created, in ISO-8661 format.\n\n    * status: A string representation of the certificate status.\n\n    * is_passing: True if the certificate has a passing status, False if not.\n\n    * download_url: A string representation of the certificate url.\n\n    * grade: A string representation of a float for the user's course grade.\n\n**Example GET Response**\n\n    [{\n        \"username\": \"bob\",\n        \"course_id\": \"edX/DemoX/Demo_Course\",\n        \"certificate_type\": \"verified\",\n        \"created_date\": \"2015-12-03T13:14:28+0000\",\n        \"status\": \"downloadable\",\n        \"is_passing\": true,\n        \"download_url\": \"http://www.example.com/cert.pdf\",\n        \"grade\": \"0.98\"\n    }]"
      tags:
      - certificates
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: username
        in: path
        required: true
        description: The users to get certificates for
        schema:
          type: string
      responses:
        '200':
          description: ''
  /certificates/v0/certificates/{username}/courses/{course_id}/:
    get:
      operationId: certificates_v0_certificates_courses_read
      description: Retrieves certificate information for a user in a specified course run.
      tags:
      - certificates
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: course_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
