openapi: 3.2.0
info:
  title: Open edX Completion API
  description: APIs for access to Open edX information
  contact:
    email: dl@kaznu.kz
  version: v1
servers:
- url: https://open.kaznu.kz/api
security:
- Basic: []
tags:
- name: Completion
paths:
  /completion/v1/completion-batch:
    post:
      operationId: completion_v1_completion-batch_create
      summary: Inserts a batch of completions
      description: 'REST Endpoint Format:

        ```

        {

        "username": "username",

        "course_key": "course-key",

        "blocks": {

        "block_key1": 0.0,

        "block_key2": 1.0,

        "block_key3": 1.0,

        }

        }

        ```


        **Returns**


        A Response object, with an appropriate status code.


        If successful, status code is 200.

        ```

        {

        "detail" : _("ok")

        }

        ```


        Otherwise, a 400 or 404 may be returned, and the "detail" content will explain the error.'
      tags:
      - Completion
      responses:
        '201':
          description: ''
  /completion/v1/subsection-completion/{username}/{course_key}/{subsection_id}:
    get:
      operationId: completion_v1_subsection-completion_read
      description: Returns completion for a (user, subsection, course).
      tags:
      - Completion
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: course_key
        in: path
        required: true
        schema:
          type: string
      - name: subsection_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Completion v1 subsection completion read
      x-summary-source: derived
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
