openapi: 3.2.0
info:
  title: Open edX Courseware API
  description: APIs for access to Open edX information
  contact:
    email: dl@kaznu.kz
  version: v1
servers:
- url: https://open.kaznu.kz/api
security:
- Basic: []
tags:
- name: courseware
paths:
  /courseware/celebration/{course_key_string}:
    post:
      operationId: courseware_celebration_create
      description: Handle a POST request.
      tags:
      - courseware
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
      summary: Courseware celebration create
      x-summary-source: derived
  /courseware/course/{course_key_string}:
    get:
      operationId: courseware_course_read
      summary: '**Use Cases**'
      description: 'Request details for a course


        **Example Requests**


        GET /api/courseware/course/{course_key}


        **Response Values**


        Body consists of the following fields:


        * access_expiration: An object detailing when access to this course will expire

        * expiration_date: (str) When the access expires, in ISO 8601 notation

        * masquerading_expired_course: (bool) Whether this course is expired for the masqueraded user

        * upgrade_deadline: (str) Last chance to upgrade, in ISO 8601 notation (or None if can''t upgrade anymore)

        * upgrade_url: (str) Upgrade linke (or None if can''t upgrade anymore)

        * celebrations: An object detailing which celebrations to render

        * first_section: (bool) If the first section celebration should render

        Note: Also uses information from frontend so this value is not final

        * streak_length_to_celebrate: (int) The streak length to celebrate for the learner

        * streak_discount_enabled: (bool) If the frontend should render an upgrade discount for hitting the streak

        * weekly_goal: (bool) If the weekly goal celebration should render

        * course_goals:

        * selected_goal:

        * days_per_week: (int) The number of days the learner wants to learn per week

        * subscribed_to_reminders: (bool) Whether the learner wants email reminders about their goal

        * weekly_learning_goal_enabled: Flag indicating if this feature is enabled for this call

        * effort: A textual description of the weekly hours of effort expected

        in the course.'
      tags:
      - courseware
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseInfo'
  /courseware/resume/{course_key_string}:
    get:
      operationId: courseware_resume_read
      description: Return response to a GET request.
      tags:
      - courseware
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Courseware resume read
      x-summary-source: derived
  /courseware/sequence/{usage_key_string}:
    get:
      operationId: courseware_sequence_read
      description: Return response to a GET request.
      tags:
      - courseware
      parameters:
      - name: usage_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Courseware sequence read
      x-summary-source: derived
components:
  schemas:
    CourseInfo:
      required:
      - access_expiration
      - content_type_gating_enabled
      - course_goals
      - effort
      - end
      - enrollment
      - enrollment_start
      - enrollment_end
      - entrance_exam_data
      - id
      - license
      - language
      - media
      - name
      - offer
      - related_programs
      - short_description
      - start
      - start_display
      - start_type
      - pacing
      - user_timezone
      - show_calculator
      - can_access_proctored_exams
      - notes
      - marketing_url
      - celebrations
      - user_has_passing_grade
      - course_exit_page_is_active
      - certificate_data
      - verify_identity_url
      - verification_status
      - linkedin_add_to_profile_url
      - is_integrity_signature_enabled
      - user_needs_integrity_signature
      - learning_assistant_enabled
      type: object
      properties:
        access_expiration:
          title: Access expiration
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        content_type_gating_enabled:
          title: Content type gating enabled
          type: boolean
        course_goals:
          $ref: '#/components/schemas/CourseGoals'
        effort:
          title: Effort
          type: string
          minLength: 1
        end:
          title: End
          type: string
          format: date-time
        enrollment:
          title: Enrollment
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        enrollment_start:
          title: Enrollment start
          type: string
          format: date-time
        enrollment_end:
          title: Enrollment end
          type: string
          format: date-time
        entrance_exam_data:
          title: Entrance exam data
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        id:
          title: Id
          type: string
          minLength: 1
        license:
          title: License
          type: string
          minLength: 1
        language:
          title: Language
          type:
          - string
          - 'null'
          minLength: 1
        media:
          $ref: '#/components/schemas/courseware_api'
        name:
          title: Name
          type: string
          minLength: 1
        offer:
          title: Offer
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        related_programs:
          type: array
          items:
            $ref: '#/components/schemas/CourseProgram'
        short_description:
          title: Short description
          type: string
          minLength: 1
        start:
          title: Start
          type: string
          format: date-time
        start_display:
          title: Start display
          type: string
          minLength: 1
        start_type:
          title: Start type
          type: string
          minLength: 1
        pacing:
          title: Pacing
          type: string
          minLength: 1
        user_timezone:
          title: User timezone
          type: string
          minLength: 1
        show_calculator:
          title: Show calculator
          type: boolean
        can_access_proctored_exams:
          title: Can access proctored exams
          type: boolean
        notes:
          title: Notes
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        marketing_url:
          title: Marketing url
          type: string
          minLength: 1
        celebrations:
          title: Celebrations
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        user_has_passing_grade:
          title: User has passing grade
          type: boolean
        course_exit_page_is_active:
          title: Course exit page is active
          type: boolean
        certificate_data:
          $ref: '#/components/schemas/CertificateData'
        verify_identity_url:
          title: Verify identity url
          type: string
          format: uri
          minLength: 1
        verification_status:
          title: Verification status
          type: string
          minLength: 1
        linkedin_add_to_profile_url:
          title: Linkedin add to profile url
          type: string
          format: uri
          minLength: 1
        is_integrity_signature_enabled:
          title: Is integrity signature enabled
          type: boolean
        user_needs_integrity_signature:
          title: User needs integrity signature
          type: boolean
        learning_assistant_enabled:
          title: Learning assistant enabled
          type: boolean
    CertificateData:
      required:
      - cert_status
      - cert_web_view_url
      - download_url
      - certificate_available_date
      type: object
      properties:
        cert_status:
          title: Cert status
          type: string
          minLength: 1
        cert_web_view_url:
          title: Cert web view url
          type: string
          minLength: 1
        download_url:
          title: Download url
          type: string
          minLength: 1
        certificate_available_date:
          title: Certificate available date
          type: string
          format: date-time
    courseware_api:
      type: object
      properties:
        uri:
          title: Uri
          type: string
          readOnly: true
    CourseGoals:
      required:
      - selected_goal
      type: object
      properties:
        selected_goal:
          title: Selected goal
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
        weekly_learning_goal_enabled:
          title: Weekly learning goal enabled
          type: boolean
          default: false
    CourseProgram:
      required:
      - slug
      - title
      - url
      - uuid
      type: object
      properties:
        progress:
          title: Progress
          type: string
          readOnly: true
        slug:
          title: Slug
          type: string
          minLength: 1
        title:
          title: Title
          type: string
          minLength: 1
        url:
          title: Url
          type: string
          format: uri
          minLength: 1
        uuid:
          title: Uuid
          type: string
          format: uuid
  securitySchemes:
    Basic:
      type: http
      scheme: basic
