openapi: 3.0.3
info:
  title: Open edX agreements course_experience API
  description: APIs for access to Open edX information
  contact:
    email: dl@kaznu.kz
  version: v1
servers:
- url: https://open.kaznu.kz/api
security:
- Basic: []
tags:
- name: course_experience
paths:
  /course_experience/v1/course_deadlines_info/{course_key_string}:
    get:
      operationId: course_experience_v1_course_deadlines_info_read
      summary: '**Use Cases**'
      description: "Request course deadline info for mobile\n\n**Example Requests**\n\n    GET api/course_experience/v1/course_deadlines_info/{course_key}\n\n**Response Values**\n\n    Body consists of the following fields:\n\n    dates_banner_info: (obj)\n        missed_deadlines: (bool) Whether the user has missed any graded content deadlines for the given course.\n        missed_gated_content: (bool) Whether the user has missed any gated content for the given course.\n        content_type_gating_enabled: (bool) Whether content type gating is enabled for this enrollment.\n        verified_upgrade_link: (str) The URL to ecommerce IDA for purchasing the verified upgrade.\n\n**Returns**\n\n    * 200 on success with above fields.\n    * 401 if the user is not authenticated.\n    * 404 if the course is not available or cannot be seen."
      tags:
      - course_experience
      parameters:
      - name: course_key_string
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDeadlinesMobile'
  /course_experience/v1/reset_course_deadlines:
    post:
      operationId: course_experience_v1_reset_course_deadlines_create
      description: "Set the start_date of a schedule to today, which in turn will adjust due dates for\nsequentials belonging to a self paced course\n\nRequest Parameters:\n    course_key: course key\n    research_event_data: any data that should be included in the research tracking event\n        Example: sending the location of where the reset deadlines banner (i.e. outline-tab)\n\nIMPORTANT NOTE: If updates are happening to the logic here, ALSO UPDATE the `reset_course_deadlines`\nfunction in common/djangoapps/util/views.py as well."
      tags:
      - course_experience
      responses:
        '201':
          description: ''
components:
  schemas:
    CourseDeadlinesMobile:
      type: object
      properties:
        dates_banner_info:
          title: Dates banner info
          type: string
          readOnly: true
        has_ended:
          title: Has ended
          type: string
          readOnly: true
  securitySchemes:
    Basic:
      type: http
      scheme: basic
