openapi: 3.2.0
info:
  title: Open edX Mfe Config API
  description: APIs for access to Open edX information
  contact:
    email: dl@kaznu.kz
  version: v1
servers:
- url: https://open.kaznu.kz/api
security:
- Basic: []
tags:
- name: mfe_config
paths:
  /mfe_config/v1:
    get:
      operationId: mfe_config_v1_list
      summary: Return the MFE configuration, optionally including MFE-specific overrides
      description: '**Usage**


        Get common config:

        GET /api/mfe_config/v1


        Get app config (common + app-specific overrides):

        GET /api/mfe_config/v1?mfe=name_of_mfe


        **GET Response Values**

        ```

        {

        "BASE_URL": "https://name_of_mfe.example.com",

        "LANGUAGE_PREFERENCE_COOKIE_NAME": "example-language-preference",

        "CREDENTIALS_BASE_URL": "https://credentials.example.com",

        "DISCOVERY_API_BASE_URL": "https://discovery.example.com",

        "LMS_BASE_URL": "https://courses.example.com",

        "LOGIN_URL": "https://courses.example.com/login",

        "LOGOUT_URL": "https://courses.example.com/logout",

        "STUDIO_BASE_URL": "https://studio.example.com",

        "LOGO_URL": "https://courses.example.com/logo.png",

        ... and so on

        }

        ```'
      tags:
      - mfe_config
      parameters:
      - name: mfe
        in: query
        required: false
        description: Name of an MFE (a.k.a. an APP_ID).
        schema:
          type: string
      responses:
        '200':
          description: ''
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
